  <h1>Hello, sign in your account</h1>
  <%= form_tag do %>
      <fieldset>
        <div>
          <label for="name">Name:</label>
          <%= text_field_tag :name, params[:name] %>
        </div>

        <div>
          <label for="password">Password:</label>
          <%= password_field_tag :password, params[:password] %>
        </div>

        <div>
          <%= submit_tag "Login" %>
        </div>
      </fieldset>
  <% end %>
  <br><br>

  <h1>New to Backchannel? Please sign up!</h1>
  <fieldset>
  <%= link_to 'Create New User', new_user_path %>
  </fieldset>











