<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @vote.message %>
</p>

<p>
  <b>Voters:</b>
  <%= @vote.voters %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
