<!DOCTYPE html>
<html>
<head>
  <title>Proj1BackchannelProgram</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- START_HIGHLIGHT-->

  <br />
  <%= link_to 'Search by post content', posts_path %> |
  <%= link_to 'Search by category', categories_path %> |
  <%= link_to 'Search by users', users_path %><br />
 <br />

<% if session[:user_name]== nil %>
  <%=  button_to 'Login', login_path %>
<% else %>
  <%=  button_to 'Logout', logout_path, :method => :delete %>
<% end %>


<!--END_HIGHLIGHT-->
</body>
</html>
